body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
    font-family: chalkduster;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.square {
    border: solid black 2px;
    width: 25%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.controls {
    text-align: center;
}

input {
    font-family: chalkduster;
}

::placeholder {
    color: black;
    font-family: chalkduster;
}

button {
    font-family: chalkduster;
}